@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arimo', sans-serif;
    font-size: 17px;
}
body {
   background-color: #434750;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.container {
    width: 920px;
    margin: auto;
    position: relative;
    background-color: #3e3f46
}

.linha {
    position: relative;
    display: flex;
    height: 90px;
    background-color: #3e3f46;
}

.data{
    position: absolute;
    height: 100%;
    left: calc(120px + var(--l)*var(--w));
    width: calc(var(--w)*var(--q));
    
}

#header .data {
    position: relative;
}

.hora{
    width: var(--w);
    background-color: #3e3f46
}

p{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
}

.destaque{
    background-color: #41A69C;
}

.vazio {
    width: 120px;
}

.dia_semana{
    width: 120px;
}
